/* ===================================== 
    FORM
========================================*/
.form input{
    width: 100%;
}

.form input, 
.form select {
    padding-left: 0.5rem;
    border-radius: 0.5rem;
}

.form select {
    width: 50%;
}

/* ===================================== 
    COUNTRY CARDS
========================================*/
.card {
    width: 50%;
    margin: 0 auto; 
    border-radius: 0.5rem;
    overflow: hidden;    
    display: block;
}

.nation .card {
    width: 100%;
}

.relativeP {
    position: relative;
    padding: 3.5rem;
}

.nation .relativeP {
    position: static;
}
/* ===================================== 
    COUNTRY PAGE
========================================*/
.nation .relativeP {
    height: 40vh; 
    padding-left: 0;
    margin-left: auto;
    /* margin-right: 3.5rem;  */
}

.nation img {
    padding-left: 0;
}

/* country name and info */
.info {
    padding: 1rem 0 1.5rem 1.5rem; 
    line-height: 3;
    margin-bottom: 1rem;
}

.nation .info{
    padding: 0 0 1.5rem 0;
}

.box {
    display: flex; 
    width: 100%; 
    gap: 1rem;
    padding-top: 1rem;
}

.box button {
    width: 30%;
}
/* ===================================== 
    MEDIA QUERIES
========================================*/
  @media (min-width: 768px) {
    .form {
        margin-top: 2rem;
    }

    .form div:first-child {
        width: 35%;
    }

    .section {
        width: 50%;
    }
    
    .form select {
        margin-left: auto;
        width: 35%;
    }

    .form div {
        margin-bottom: 1rem;
    }

    .wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .card {
        margin: 1.5rem 0; 
        width: 30%;
    }

    .container{
        min-height: 70vh;
    }
  }

  @media (min-width: 1024px) {
    .card {
        width: 21%;
    }
  }