/* ===================================== 
    FORM
========================================*/
.form input{
    width: 100%;
}

.form input, 
.form select {
    padding-left: 0.5rem;
    border-radius: 0.5rem;
    margin-bottom: 2rem;
}

.form select {
    width: 50%;
}

/* ===================================== 
    COUNTRY CARDS
========================================*/

.card {
    width: 50%;
    margin: 0 auto; 
    border-radius: 0.5rem;
    overflow: hidden;    
    display: block;
}

.link {
    margin-bottom: 1.5rem;
}

.nation .card {
    width: 100%;
}

.relativeP {
    position: relative;
    padding: 3.5rem;
}

/* ===================================== 
    COUNTRY PAGE
========================================*/
.nation .relativeP {
    padding: 0;
    margin-left: auto;
}

.nation img {
    padding-left: 0;
    object-fit: fill;
}

/* country name and info */
.info {
    padding: 1rem 0 1.5rem 1.5rem; 
    line-height: 3;
    margin-bottom: 1rem;
}

.nation .info{
    padding: 0 0 1.5rem 0;
}

.box {
    display: flex; 
    width: 100%; 
    gap: 1rem;
    padding-top: 1rem;
    align-items: center;
}

.box button {
    width: 30%;
}

.nation .info:nth-child(2) .box {
    visibility: hidden;
}
/* ===================================== 
    MEDIA QUERIES
========================================*/
  @media (min-width: 768px) {
    /* FORM ELEMENTS */
    .form {
        margin-top: 2rem;
    }

    .form div:first-child {
        width: 35%;
    }

    .section {
        width: 50%;
    }
    
    .form select {
        margin-left: auto;
        width: 35%;
    }

    .form div {
        margin-bottom: 1rem;
    }

    .wrapper {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .card {
        margin: 1.5rem 0; 
        width: 30%;
    }

    /* ===COUNTRY PAGE ====*/
    .nation .card {
        margin-bottom: 0;
    }

    .container {
        min-height: 70vh;
    }

    .nation .container{
        margin-left: 0; 
        align-items: center;
    }

    .nation .relativeP {
        margin-right: 2rem;
        margin-top: auto;
    }

    .nation h2 {
        margin-top: 0; 
    }
    
    .nation .info {
        padding-bottom: 0;
        height: 100%;
        display: flex;
        flex-direction: column;
        margin-top: auto; 
        margin-bottom: auto;
    }

    .nation .info p {
        line-height: 2;
    }
    
    .nation .info:nth-child(2) .box {
        visibility: visible;
    }

    .nation .info:nth-child(2) .box, 
    .nation .info:nth-child(3) {
        margin-top: auto; 
    }

  }

  @media (min-width: 1024px) {
    .card {
        width: 21%;
    }

    .nation .relativeP {
        margin: auto 2rem 0 0; 
    }

    .box {
        display: flex;
        align-items: center;
        width: 100%; 
        gap: 1rem;
        padding-top: 1rem;
        margin-top: auto;
    }

    .hide{
        visibility: hidden;
    }

  }